@font-face {
    font-family: markPro;
    src: url(../../tipografias/FontFont-MarkPro.otf);
    font-weight: 400;
    }

@font-face {
    font-family: markProBold;
    src: url(../../tipografias/FontFont-MarkPro-Bold.otf);
    font-weight: 700;
    }

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    min-height: 100vh;
    background-color: #fff;
    font-family: markPro;
    display: grid;
    place-items: center;
}

header {

    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0 7px 8px 0 rgb(200, 200, 200);
    padding: 1.4em 1em;
    z-index: 1;
    display: flex;
    align-items: center;
}

.header__logos > #bonus-logo-nav {

    width: 7em;
    padding-right: 0.5em;
    border-right: 2px solid rgb(220, 220, 220);
} 

.header__logos > #misiones-logo-nav {

    width: 4.7em;
    padding-left: 0.8em;
}

main {

    position: relative;
    top: 2em;
    padding: 2em;
}

section > img {

    width: 6.5em;
    display: block;
    margin: 1.5em auto;   
}

h2 {

    color: #0049ac;
    text-align: center;
    font-weight: 400;
    max-width: 27em;
}

h2 > span {

    font-family: markProBold;
}

#aulasmadre {

    background-color: #fdda3e;
    color: #0049ac;
    padding: 0.6em 2em;
    border-radius: 20px;
    font-size: 18px;
    font-family: markProBold;
    max-width: 18em;
    margin: 3em auto 0 auto;
    display: block;
    text-align: center;
}